* {
    margin: 0;
    padding: 0;
}

.container{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.cabecera-enlaces{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 40px 0 40px;
}

#enlaces{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

.logo{
    padding-top: 4px;
}

#img{
    width: 700px;
    height: 400px;
    margin-left: 290px;

}

.home{
    background: whitesmoke;
}
